html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
} 

.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: 'Segoe UI', sans-serif;
}

.left-image {
  flex: 1;
  background: url('../assets/deployment.png') no-repeat center center;
  background-size: cover;
}

.right-login {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f9fa;
}

.login-box {
  width: 320px;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: white;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 24px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-form label {
  display: block;
  text-align: left;
}

.login-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.login-form button {
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.login-form button:hover {
  background: #4338ca;
}

.divider {
  margin: 20px 0;
  position: relative;
  text-align: center;
}

.divider span {
  background: white;
  padding: 0 10px;
  color: #666;
}

.divider::before,
.divider::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: #ccc;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.google-btn {
  color: black;
  display: flex;
  margin: 0 auto;        /* auto margins center horizontally */
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.google-btn:hover {
  background: #f0f0f0;
}

.google-btn img {
  width: 20px;
  height: 20px;
}
